.item {
  display: flex;
  flex-direction: column;
  flex: 0 1 33.33%;
  // justify-content: space-between;
  position: relative;
  overflow: hidden;

  border-style: solid;
  border-color: rgb(224, 224, 224);
  border-width: 0 1px 1px 0;

  height: 40rem;

  & a:hover {
    text-decoration: underline;
  }

  & .image {
    padding: 4rem;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      transform: scale(1.1);
    }

    & img {
      height: 20rem;
      // max-width: 20rem;
      width: 100%;
      object-fit: contain;
    }
  }
}

.wishlist {
  position: absolute;
  left: 5%;
  top: 5%;
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  cursor: pointer;
  & svg {
    background-color: rgb(224, 224, 224);
    color: rgb(0, 109, 183);
    margin-right: 0.4rem;
    border-radius: 1rem;
    padding: 0.3rem;
    width: 1.75rem;
    height: 1.75rem;
  }
}

.featured {
  position: absolute;
  left: 0%;
  bottom: 38%;
  background: rgb(255, 208, 0);
  font-size: 0.75rem;
  margin: 0 0 0.8rem 0.8rem;
  padding: 0.5rem;
}

.group {
  padding: 0 1rem 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & .price {
    font-family: 'CeraPro-Regular', sans-serif;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
  }
}

.additional {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;

  & h4 {
    padding-bottom: 1rem;
    font-family: 'CeraPro-Regular', sans-serif;
    line-height: 1.5rem;
    font-weight: 500;
  }
}

.button {
  width: 100%;
  background-color: rgb(253, 128, 36);
  border-color: rgb(253, 128, 36);
  border-radius: 0.3rem;
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin-top: 0.6rem;
  cursor: pointer;
  transition: 0.3s;
}

.not-avaliable-button {
  width: 100%;
  background-color: rgb(255, 242, 242);
  border-color: rgb(255, 242, 242);
  color: rgb(208, 2, 27);
  border-radius: 0.3rem;
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin-top: 0.6rem;
}

.button:hover {
  background-color: #fff;
}

@media (max-width: 1300px) {
  .item {
    flex: 0 1 33%;
  }
}

@media (max-width: 900px) {
  .item {
    flex: 0 1 50%;
  }
}
