.container {
  margin: 2rem 0;
  padding: 0 1rem;
}

.wrapper {
  display: flex;
}

.items {
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-wrap: wrap;

  border-style: solid;
  border-color: rgb(224, 224, 224);
  border-width: 1px 0 0 1px;
}

@media (max-width: 900px) {
  .wrapper {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .container {
    margin: 2rem 0;
    padding: 0 0rem;
  }
}
