.container {
  padding: 1rem 1rem;
  margin-top: 2rem;

  & h1 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 2.3rem;
    font-weight: 400;
  }
}

.wrapper {
  display: flex;
}

@media (max-width: 950px) {
  .wrapper {
    flex-direction: column;
  }
}
