.wrapper {
  margin-right: 1rem;
  background: rgb(248, 248, 248);
  padding: 2rem;
  border-radius: 0.4rem;
  max-width: 70rem;
  width: 100%;
  height: 100%;

  & h3 {
    margin-bottom: 1rem;
  }
}
