.item {
  display: flex;
  border-top: 0.1rem solid rgb(224, 224, 224);
  padding: 1rem 0;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 10rem;
  height: 10rem;
  padding: 1rem;
  & img {
    width: 100%;
    object-fit: contain;
  }
}

.details {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;

  & button {
    background: #fff;
  }
}

.remove {
  color: rgb(0, 109, 183);
  cursor: pointer;
}
