.container {
  max-width: 30rem;
  width: 100%;
}

.wrapper {
  background: rgb(248, 248, 248);
  padding: 1rem;
  animation: show 2s;

  & h2 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
  }

  & p {
    font-size: 0.875rem;
    margin-top: 0.8rem;
  }
}

.code-input {
  display: flex;
  margin-top: 1rem;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.42);
  border-left: 0.1rem solid rgba(0, 0, 0, 0.42);
  border-right: 0.1rem solid rgba(0, 0, 0, 0.42);
  & div {
    width: 100%;
  }

  button {
    width: 5rem;
    background: rgb(224, 224, 224);
    border: none;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.42);
    border-left: 0.1rem solid rgba(0, 0, 0, 0.42);
    font-weight: 500;
    font-size: 0.875rem;
    cursor: pointer;
  }
}

.btn--disabled {
  cursor: default !important;
}

.order-summary {
  background: rgb(248, 248, 248);
  padding: 1rem;
  margin-top: 1rem;
  animation: show 2s;

  & h2 {
    border-bottom: 0.1rem solid rgb(224, 224, 224);
    margin-top: 1rem;
    padding-bottom: 1rem;
  }

  & p {
    margin-top: 1rem;
  }
}

.order-description {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 1rem 0;
  font-size: 0.875rem;
  line-height: 1.18rem;
  font-weight: 500;
}

.order-shipping {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  color: rgb(0, 133, 55);
  font-size: 0.875rem;
  line-height: 1.18rem;
  font-weight: 500;
}

.order-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5;
}

.order-button {
  width: 100%;
  background-color: rgb(253, 128, 36);
  border-color: rgb(253, 128, 36);
  border-radius: 0.3rem;
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin-top: 0.6rem;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: 0.3s;

  & span {
    margin-left: 1rem;
  }
}

.order-button:hover {
  background: #fff;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media (max-width: 950px) {
  .container {
    margin: 0 auto;
  }
}
