.container {
  max-width: 30rem;
  width: 100%;
}

.wrapper {
  background: rgb(248, 248, 248);
  padding: 1rem;
}

.code-input {
  display: flex;
  margin-top: 1rem;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.42);
  border-left: 0.1rem solid rgba(0, 0, 0, 0.42);
  border-right: 0.1rem solid rgba(0, 0, 0, 0.42);
  & div {
    width: 100%;
  }

  button {
    width: 4rem;
    background: rgb(224, 224, 224);
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    border-left: 0.1rem solid rgba(0, 0, 0, 0.42);

    cursor: pointer;
  }
}

.btn--disabled {
  cursor: default !important;
}
