.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
  max-width: 70rem;
  background-color: rgb(230, 243, 255);

  padding: 0.5rem;
  border-radius: 4rem;

  .cookieGuy {
    display: flex;
    flex-direction: row;
    width: 6.25rem;
    height: 6.25rem;
    margin-right: 1rem;
    & img {
      width: 6.25rem;
      height: 6.25rem;
    }
  }
}

.wrapper {
  max-width: 70rem;
  display: flex;
  flex-direction: row;

  & > div {
    display: flex;
    flex-direction: column;
    margin-right: 0.5rem;
    & h3 {
      font-size: 1.125rem;
      line-height: 1.5rem;
      font-weight: 700;
    }

    & span {
      font-size: 0.875rem;
      line-height: 1.5rem;
      font-weight: 400;
      padding: 0.4rem 0;
    }

    & button {
      background-color: rgb(230, 243, 255);
      border: none;
      padding: 0;
      color: rgb(0, 109, 183);
      font-size: 0.875rem;
      line-height: 1.5rem;
      font-weight: 500;
      text-decoration: underline;
      cursor: pointer;
    }
    & button:first-child {
      margin-right: 1rem;
    }
  }
}

.cookie {
  width: 2.6rem;
  height: 4rem;

  & img {
    width: 2.6rem;
  }
}

@media (max-width: 37.5rem) {
  // 600px
  .container {
    border-radius: 0;
  }

  .cookie {
    & img {
      display: none;
    }
  }
}
