.section {
  display: flex;
  border-top: 0.1rem solid rgb(224, 224, 224);
  margin: 1rem 0;
}

.view {
  align-items: center;
  padding: 1rem 1rem 0 0;
  max-width: 70rem;
  width: 100%;

  & .image {
    max-width: 50rem;
    width: 100%;
    height: 40rem;
    margin: 0 auto;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
