.overview {
  border-left: 0.1rem solid rgb(224, 224, 224);
  padding: 1rem 0 0 1rem;
  max-width: 30rem;
  width: 100%;
}

.featured {
  display: inline-block;
  background: rgb(255, 208, 0);
  font-size: 0.75rem;
  padding: 0.5rem;
}
