@font-face {
  font-family: 'CeraPro-Regular';
  src: local('CeraPro-Regular'),
    url('../fonts/CeraPro-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'CeraPro-Bold';
  src: local('CeraPro-Bold'), url('../fonts/CeraPro-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'CeraPro-Light';
  src: local('CeraPro-Light'), url('../fonts/CeraPro-Light.ttf') format('ttf');
}
